@import "tailwindcss";
.bg-1 {
  background-image: url('/images/bg.jpg');
}
.hidesidemenu{
  right: -100vw;
}
.opensidemenu{
  right: -100%;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}